body {
    background: url(./images/pexels-felix-mittermeier-956999.jpg);
    background-size: cover;
}

.box {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.jedi-swords {
    display: flex;
    width: 50%;
    height: 500px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sword1 {
    display: flex;
    justify-content: left;
    border-radius: 5px;
    width: 400px;
    height: 20px;
    box-shadow: 0 0 5px #03e9f4, 0 0 5px #03e9f4, 0 0 10px #03e9f4,
      0 0 100px #03e9f4;
    background: linear-gradient(rgb(191, 223, 234), rgb(106, 124, 130));
    margin-top: 30px;
    animation: sword-top 2s linear infinite alternate;
  }

  @keyframes sword-top {
    to {
        transform: translateY(100px);
    }

    75% {
      opacity: 0.7;
    }

    100% {
      opacity: 0;
    }
  }

  .sword2 {
    display: flex;
    justify-content: right;
    border-radius: 5px;
    width: 400px;
    height: 20px;
    box-shadow: 0 0 5px #f403d4, 0 0 5px #f40398, 0 0 10px #f403f0,
      0 0 100px #f403d8;
    background: linear-gradient(rgb(234, 191, 212), rgb(132, 104, 117));
    margin-top: 30px;
    animation: sword-middle 2s linear infinite alternate;
  }

  @keyframes sword-middle {
    to {
      transform: rotateZ(50deg) translateY(40px);
    }
  }

  .sword3 {
    display: flex;
    justify-content: left;
    border-radius: 5px;
    width: 400px;
    height: 20px;
    box-shadow: 0 0 5px #03f42f, 0 0 5px #03f4c8, 0 0 10px #03f48c,
      0 0 100px #03f488;
    background: linear-gradient(rgb(151, 219, 197), rgb(93, 137, 123));
    margin-top: 30px;
    animation: sword-last 2s linear infinite alternate;
  }

  @keyframes sword-last {
    to {
      transform: rotateZ(-50deg) translateY(-40px);
    }
  }

  .sword-inside {
    width: 70px;
    background: linear-gradient(rgb(175, 191, 175), rgb(63, 69, 66));;
    border-radius: 5px;
  }

  .newton-pendulum {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
  }

  .base {
    width: 350px;
    height: 20px;
    background: linear-gradient(rgb(227, 230, 233), rgb(71, 126, 130));;
    border-radius: 10px;
  }

  .circle-block {
    display: flex;
    margin-top: 100px;
  }

  .circle {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    position: relative;
    background: linear-gradient(rgb(227, 230, 233), rgb(71, 126, 130));;
    transform-origin: 50% -100px;
  }

  .circle::before {
    content: "";
    position: absolute;
    height: 100px;
    width: 2px;
    background: aliceblue;
    top: -100px;
    left: 25px;
  }

  .first-circle {
    z-index: -1;
    animation: first-element 0.8s infinite alternate;
  }

  .last-circle {
    z-index: -1;
    animation: last-element 0.8s infinite alternate 0.8s;
  }

  @keyframes first-element {
    0%, 50% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(30deg);
  }
}

  @keyframes last-element {
    0%, 50% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(-30deg);
  }
  }